<section class="content acupuncture">
  <h1 id="acupuncture">Acupuncture</h1>

  <div class="acupuncture-image">
    <img src="../assets/images/acupuncture.jpg" class="section-image">
  </div>

  <div class="acupuncture-p">
    <p>
      An <strong>individualized treatment plan</strong> is one of the biggest differences between <em>Western</em> and <em>Eastern</em> medicine.  Acupuncture is an important treatment modality in Eastern medicine that has been around for thousands of years.
    </p>
    <p>
      The practice of acupuncture involves a varying set of procedures used to stimulate specific points on the body by the insertion of needles.  The technique involves penetrating the skin with thin filiform needles that are manipulated manually by the practitioner’s hands or by electric stimulation.  The needles vary in gauge and length and are dependent on the treatment and technique used.
    </p>
  </div>

  <div class="acupuncture-p">
    <p>
      The purpose of inserting needles into specific points is to ensure proper  <strong>energy flow</strong> (also known as qi) on and between the different meridans of the body.  Activating the points help remove obstructions and stagnation as well as expel pathogenic factors.
    </p>
    <p>
      In Chinese medicine, health is achieved through the harmonious  <strong>balance</strong> of yin and yang inside the body.  Illness arises when this balance is disrupted.  In every treatment, the practitioner will aim to balance the dynamic of yin and yang by either dispersing the excess or tonifying the deficiency.  The balance could take multiple visits.  However, each visit builds on all prior treatments so it is important to discuss and maintain a consistent schedule for treatments to hold.
    </p>
  </div>
  <div class="WHO">
    <p>
       <strong>
         According to the World Health Organization (WHO), acupuncture is effective for treating many conditions, such as:
       </strong>
    </p>
    <p>
      <ul id="acupuncture">
        <li>Depression</li>
        <li>Anxiety</li>
        <li>OCD</li>
        <li>PTSD</li>
        <li>Insomnia</li>
        <li>Headaches</li>
        <li>Migraines</li>
        <li>Trigeminal neuralgia</li>
        <li>Facial paralysis</li>
        <li>Paresis following stroke</li>
        <li>Noctural enuresis</li>
        <li>Intercostal neuralgia</li>
        <li>Disc problems</li>
        <li>Muscle pain, swelling, stiffness, and weakness</li>
        <li>Localized trauma (sprains, strains, tendinitis)</li>
        <li>Arthritis</li>
        <li>Fibromyalgia</li>
        <li>Work and sports related injuries</li>
        <li>Low back and/or neck strain</li>
        <li>Osteoarthritis</li>
        <li>Frozen shoulder</li>
        <li>Tennis elbow</li>
        <li>Sciatica</li>
        <li>Acute sinusitis</li>
        <li>Acute rhinitis</li>
        <li>Common cold and allergies</li>
        <li>Acute tonsilitis</li>
        <li>Acute bronchitis</li>
        <li>Bronchial asthma</li>
        <li>Irritable bowel and colitis</li>
        <li>Gastroptosis</li>
        <li>Gastritis</li>
        <li>Colitis</li>
        <li>Constipation</li>
        <li>Diarrhea</li>
        <li>Infertility</li>
        <li>PMS</li>
        <li>Dysmenorrhea</li>
        <li>Amenorrhea</li>
        <li>Irregular menstruation</li>
        <li>Menopause</li>
        <li>Hypertension</li>
        <li>Withdrawal from recreational and pharmacologial drugs</li>
        <li>Appetite suppression</li>
      </ul>
    </p>
    <p>
      Acupuncture may also provide relief from side effects of some medications and medical procedures.  It may also increase the therapeutic effects of other medications.
    </p>
  </div>

</section>
