<section class="content khanh">
  <h1 id="khanh">Khanh Nguyen</h1>
  <h2>M.OM, L.Ac., Licensed Acupuncturist, Chinese Herbalist</h2>

  <div class="section-image khanh">
    <img src="../assets/images/khanh.png" class="section-image khanh" alt="khanh">
  </div>

  <div class="section-p khanh">
    <p>
      Khanh received her Masters in Oriental Medicine from the Maryland University of Integrative Health, formerly Tai Sophia Institute.  She plans to complete her doctorate degree by December 2016.
    </p>

    <p>
      Khanh is humble, generous, and has an incredible work ethic.  She skillfully applies what she knows to help each patient heal.  Khanh is experienced in Five Element Acupuncture, Traditional Chinese Medicine, and Chinese Herbal Medicine.  She has helped patients with low back pain, sciatica, diabetes, irregular periods, infertility, allergies, knee pain, depression, anxiety, fibromyalgia, and much more.
    </p>

    <img src="assets/images/hr-small.png" class="hr hr-small-disappears" alt="horizontal break"/>

    <p>
      Inside of the treatment room, Khanh applies deep listening and allows space for her patients to talk.  She believes that before healing begins, the heart has to be open.  In Chinese medicine, the Heart opens to the tongue, allowing for speech and expression.  When the Heart is blocked, the patient’s individuality cannot thrive.  Khanh takes time to check in with the patient on the mind and spirit level before starting with the needle treatment.  For Khanh, Mind/Body/Spirit are not separate and should not be treated separately.
    </p>

    <img src="assets/images/hr-small.png" class="hr hr-small-disappears" alt="horizontal break"/>

    <p>
      Outside of the treatment room, Khanh enjoys reading, baking, taking long walks, and spending time with friends and family.
    </p>
  </div>

</section>
