<section class="content chinese">
  <h1 id="chinese">Chinese Herbal Medicine</h1>

  <div class="section-image chinese">
    <img src="../assets/images/chinese-herbal-medicine.jpg" class="section-image chinese">
  </div>

  <div class="section-p">
    <p>
      Similar to acupuncture, Chinese herbal medicine has been in practice for thousands of years.  Herbal formulas are carefully tailored to each individual.  They address all patterns of disharmonies, which include the physical, mental, and emotional aspects of the individual.  The formulas are taken daily, usually at least two or three times per day, which makes it a suitable complement to acupuncture if a patient is unable to have regular office visits.
    </p>

    <img src="assets/images/hr-small.png" class="hr hr-small-disappears" alt="horizontal break"/>

    <p>
      Chinese herbal medicine is effective for many of the same conditions listed under Acupuncture.  Additionally, it may also be used to treat the common cold, flu, biliary stones as well as muscular and structural pain.  Chinese herbal medicine can also ease the side effects from other medications and medical procedures.
    </p>

    <img src="assets/images/hr-small.png" class="hr hr-small-disappears" alt="horizontal break"/>

    <p>
      Chinese herbs are regulated by the FDA and are generally safe.  However, it is important to communicate with your practitioner about current medications you are taking to ensure a low risk of herb-drug interaction.
    </p>
  </div>
</section>
