<section class="content facial-rejuv">
  <h1 id="khanh">Facial Rejuvenation</h1>

  <div class="section-image facial-rejuv">
    <img src="../assets/images/face-min.jpg" class="section-image facial-rejuv" alt="Facial Rejuvenation">
  </div>

  <div class="section-p facial-rejuv">
    <p>
      Facial rejuvenation acupuncture is a safe, painless, and effective procedure that can smooth out wrinkles, tighten skin tone, and overall decrease the signs of aging. The facial rejuvenation acupuncture procedure uses thin needles that are placed into special body points to produce collagen in the skin. This collagen, in turn, fills out lines and helps to lift sagging skin.

      Although the primary area of concentration of facial rejuvenation acupuncture is on the face, this cosmetic procedure has benefits that extend far beyond that. Facial rejuvenation can improve muscle tone, tighten pores, and overall affect the hormonal balance of the body.
    </p>

    <img src="assets/images/hr-small.png" class="hr hr-small-disappears" alt="horizontal break"/>

    <img src="assets/images/hr-long.png" class="hr-long facial-rejuv" alt="horizontal break">

    <p id="facial-rejuv-benefits">
      Below are some of the benefits of facial rejuvenation acupuncture:
    </p>

    <ul id="facial-rejuv">
      <li>Reduce puffiness underneath the eyes</li>
      <li>Lighten dark circles underneath the eyes</li>
      <li>Decrease deep wrinkles and diminish fine lines</li>
      <li>Tighten sagging skin</li>
      <li>Minimize double chin</li>
      <li>Erase lines around the lips</li>
      <li>Promote glowing, smooth skin</li>
      <li>Improve skin color and texture</li>
    </ul>

    <img src="assets/images/hr-small.png" class="hr hr-small-disappears" alt="horizontal break"/>

    <img src="assets/images/hr-long.png" class="hr-long" alt="horizontal break">

    <p>
      If you are interested in learning more about this procedure, do not hesitate to
      <a data-ui-sref="home" class="reg-link">contact</a>
      us to get more information or to book your appointment today.
    </p>

  </div>

</section>
