<carousel-slideshow></carousel-slideshow>

<vision-mission></vision-mission>

<img src="assets/images/hr-long.png" class="hr-long" alt="horizontal break"/>

<description></description>

<img src="assets/images/hr-long.png" class="hr-long" alt="horizontal break"/>
<img src="assets/images/hr-small-opt.png" class="hr hr-small-disappears" alt="horizontal break"/>

<testimonials></testimonials>

<div class="container">
  <img src="assets/images/hr-small-opt.png" class="hr hr-small-disappears" alt="horizontal break"/>
  <img src="assets/images/hr-long.png" class="hr-long" alt="horizontal break"/>
</div>

<contact></contact>
