@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,300);

body, header, section, nav, ul, ol, div, li, a, img, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* ------------------------------------------------------------
MAIN STYLES
-------------------------------------------------------------*/
$mainFontFamily: "Source Sans Pro", sans-serif;
$mainFontColor: #000;
$sageColor: #B8C8A3;
$lavenderColor: #C9B1DF;
$grayColor: #F5F5F5;
$navBGcolor: darken($sageColor, 20%);

@mixin testBorder($color) {
  // border: 2px solid $color;
}

html {
  font-size: 18px;
  background-color: lighten($sageColor, 10%);
  background-image: url("../images/sageBG.jpg");
    // background-image: url("../images/sageBG2.jpg");
      // background-image: url("../images/sageBG3.jpg");
  background-attachment: fixed;
}

body {
  font: {family: $mainFontFamily;
        size: 100%;
        weight: 300;
      }
  color: $mainFontColor;
  max-width: 100%;
  margin: 0 auto;
  letter-spacing: .1em;
  @include testBorder(blue);
}

header {
  border-top: 10px solid lighten($navBGcolor, 5%);
}

div.container-fluid {
  padding: 0;
}

a#logo {
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
  display: block;
  @include testBorder(purple);
  img#logo {
    width: 400px;
    @include testBorder(green);
  }
}

div#myCarousel {
  height: 300px;
  overflow: hidden;
  img {
    min-width: 100%;
    min-height: 300px;
  }
}

/* ------------------------------------------------------------
NAVIGATION
-------------------------------------------------------------*/
$navFontColor: #FFF;
$hoverLinkColor: gray;

@mixin navBorder($color) {
  border-bottom: 1px solid $color;
}

nav {
  box-shadow: inset 0px 2px 5px white;
  width: 100%;
  ul {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    margin: .5em auto 0em;
    @include testBorder(red);
  }
  li {
    width: 100%;
    list-style-type: none;
    @include testBorder(red);
  }
  a,
  a:hover,
  a:active,
  a:visited,
  a:focus {
    text-decoration: none;
    width: 100%;
    display: block;
    color: $navFontColor;
    background-color: $navBGcolor;
    font-variant: small-caps;
  }
  a {
    color: $navFontColor;
    @include navBorder(darken($navBGcolor, 5%));
    box-shadow: inset 0px 3px 5px lighten($navBGcolor, 10%);
        text-shadow: 0px 2px 5px darken($navBGcolor, 40%);
    &:hover {
      background-color: lighten($navBGcolor, 5%);
      box-shadow: inset 0px 5px 10px lighten($navBGcolor, 20%);
      text-shadow: 0px 3px 2px darken($navBGcolor, 80%);
    }
    &:active {
      background-color: darken($navBGcolor, 5%);
      border-top: 1px solid darken($navBGcolor, 20%);
      box-shadow: inset 0px 2px 10px darken($navBGcolor, 50%);
      text-shadow: 0px 2px 5px darken($navBGcolor, 40%);
    }
  }
  @include testBorder(gray);
}

/* ------------------------------------------------------------
IMAGES
-------------------------------------------------------------*/
img#logo {
  max-width: 75%;
  @include testBorder(purple);
}

/* ------------------------------------------------------------
SECTIONS
-------------------------------------------------------------*/
section.content {
  border-bottom: 1px solid $grayColor;
  // @include testBorder(blue);
  padding: 0 1em 2em;
}

/* ------------------------------------------------------------
HEADINGS
-------------------------------------------------------------*/
@mixin heading() {
  font: {
    size: 1.5em;
    weight: 400;
    variant: small-caps;
  }
  text-align: center;
  margin: 1em auto;
}

h1 {
  @include heading();
}

/* ------------------------------------------------------------
MEDIA QUERY FOR LARGER SCREENS
-------------------------------------------------------------*/

@media screen and (min-width: 550px) {

  body {
    max-width: 75%;
    margin-top: 2em;
  }

  header {
    text-align: left;
  }

  a#logo {
    max-width: 100%;
    text-align: left;
    float: left;
    margin-bottom: 1em;
    background-color: lighten($sageColor, 70%);
    img#logo {
      max-width: 200px;
      @include testBorder(green);
    }
    @include testBorder(purple);
  }

  nav {
    ul {
    display: flex;
    justify-content: space-around;
    // border: 1px solid red;
      li {
        display: flex;
        align-content: center;
        border-right: 2px solid white;
        border-bottom: none;
        &:last-child {
          border-right: none;
        }
      }
    }
    a {
      box-shadow: 0px 0px 0px;
    }

    a,
    a:hover,
    a:focus {
      align-self: stretch;
      display: flex;
      span {
        width: 100%;
        align-self: center;
        // border: 1px solid orange;
      }
    }
} /* ends nav element */

div#myCarousel {
  height: 400px;
  overflow: hidden;
  img {
    min-width: 100%;
    min-height: 4o0px;
  }
}


} /* Ends media query */
