@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,300);
body, header, section, nav, ul, ol, div, li, a, img, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

/* ------------------------------------------------------------
MAIN STYLES
-------------------------------------------------------------*/
html {
  font-size: 18px;
  background-color: #d1dbc3;
  background-image: url("../images/sageBG.jpg");
  background-attachment: fixed; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  font-weight: 300;
  color: #000;
  max-width: 100%;
  margin: 0 auto;
  letter-spacing: .1em; }

header {
  border-top: 10px solid #93ab73; }

div.container-fluid {
  padding: 0; }

div#myCarousel {
  height: 300px; }

div#myCarousel img {
  width: 100%; }

a#logo {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  display: block; }
  a#logo img#logo {
    width: 400px; }

/* ------------------------------------------------------------
NAVIGATION
-------------------------------------------------------------*/
nav {
  box-shadow: inset 0px 2px 5px white;
  width: 100%; }
  nav ul {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    margin: .5em auto 0em; }
  nav li {
    width: 100%;
    list-style-type: none; }
  nav a,
  nav a:hover,
  nav a:active,
  nav a:visited,
  nav a:focus {
    text-decoration: none;
    width: 100%;
    display: block;
    color: #FFF;
    background-color: #87a263;
    font-variant: small-caps; }
  nav a {
    color: #FFF;
    border-bottom: 1px solid #7a9358;
    box-shadow: inset 0px 3px 5px #9fb583;
    text-shadow: 0px 2px 5px #1d2415; }
    nav a:hover {
      background-color: #93ab73;
      box-shadow: inset 0px 5px 10px #b8c8a3;
      text-shadow: 0px 3px 2px black; }
    nav a:active {
      background-color: #7a9358;
      border-top: 1px solid #52643b;
      box-shadow: inset 0px 2px 10px #030402;
      text-shadow: 0px 2px 5px #1d2415; }

/* ------------------------------------------------------------
IMAGES
-------------------------------------------------------------*/
img#logo {
  max-width: 75%; }

/* ------------------------------------------------------------
SECTIONS
-------------------------------------------------------------*/
section.content {
  border-bottom: 1px solid #F5F5F5;
  padding: 0 1em 2em; }

/* ------------------------------------------------------------
HEADINGS
-------------------------------------------------------------*/
h1 {
  font-size: 1.5em;
  font-weight: 400;
  font-variant: small-caps;
  text-align: center;
  margin: 1em auto; }

/* ------------------------------------------------------------
MEDIA QUERY FOR LARGER SCREENS
-------------------------------------------------------------*/
@media screen and (min-width: 650px) {
  body {
    max-width: 75%;
    margin-top: 2em; }

  a#logo {
    max-width: 100%;
    text-align: left;
    margin: 0 auto;
    display: block;
    background-color: white; }
    a#logo img#logo {
      width: 200px; }

  nav ul {
    display: flex;
    justify-content: space-around; }
    nav ul li {
      display: flex;
      align-content: center;
      border-right: 2px solid white;
      border-bottom: none; }
      nav ul li:last-child {
        border-right: none; }
  nav a {
    box-shadow: 0px 0px 0px; }
  nav a,
  nav a:hover,
  nav a:focus {
    align-self: stretch;
    display: flex; }
    nav a span,
    nav a:hover span,
    nav a:focus span {
      width: 100%;
      align-self: center; }

  /* ends nav element */ }
/* Ends media query */

/*# sourceMappingURL=style.css.map */
