@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,300);
body, header, section, nav, ul, ol, div, li, a, img, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

/* ------------------------------------------------------------
MAIN STYLES
-------------------------------------------------------------*/
html {
  font-size: 18px;
  background-color: #d1dbc3;
  background-image: url("../images/sageBG.jpg");
  background-attachment: fixed; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  font-weight: 300;
  color: #000;
  max-width: 100%;
  margin: 0 auto;
  letter-spacing: .1em; }

header {
  border-top: 10px solid #93ab73; }

div.container-fluid {
  padding: 0; }

a#logo {
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
  display: block; }
  a#logo img#logo {
    width: 400px; }

div#myCarousel {
  height: 300px;
  overflow: hidden;
  opacity: 0.9; }
  div#myCarousel:hover {
    opacity: 1; }
  div#myCarousel img {
    min-width: 100%;
    min-height: 300px; }

/* ------------------------------------------------------------
NAVIGATION
-------------------------------------------------------------*/
nav {
  box-shadow: inset 0px 2px 5px white;
  width: 100%; }
  nav ul {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    margin: .5em auto 0em; }
  nav li {
    width: 100%;
    list-style-type: none; }
  nav a,
  nav a:hover,
  nav a:active,
  nav a:visited,
  nav a:focus {
    text-decoration: none;
    width: 100%;
    display: block;
    color: #FFF;
    background-color: #87a263;
    font-variant: small-caps; }
  nav a {
    color: #FFF;
    border-bottom: 1px solid #7a9358;
    box-shadow: inset 0px 3px 5px #9fb583;
    text-shadow: 0px 2px 5px #1d2415; }
    nav a:hover {
      background-color: #93ab73;
      box-shadow: inset 0px 5px 10px #b8c8a3;
      text-shadow: 0px 3px 2px black; }
    nav a:active {
      background-color: #7a9358;
      border-top: 1px solid #52643b;
      box-shadow: inset 0px 2px 10px #030402;
      text-shadow: 0px 2px 5px #1d2415; }

/* ------------------------------------------------------------
IMAGES
-------------------------------------------------------------*/
img#logo {
  max-width: 75%; }

img.hr {
  padding-top: 2em;
  padding-bottom: 1em; }

img.hr-small-disappears {
  padding: 0 2em;
  max-width: 90%;
  margin: 0 auto; }

img.hr-long {
  margin: 0 auto;
  display: none; }

/* ------------------------------------------------------------
SECTIONS
-------------------------------------------------------------*/
section.content {
  padding: 0 2em 1em;
  width: 100%; }

section.vision {
  transition: 1s;
  -webkit-transition: 1s; }

section.vision:hover {
  background-color: #e2d5ee;
  color: #4a2a67;
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }

section.mission {
  transition: 1s;
  -webkit-transition: 1s;
  color: black; }

section.mission:hover {
  background-color: #d1dbc3;
  color: #384428;
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }

/* ------------------------------------------------------------
HEADINGS
-------------------------------------------------------------*/
h1 {
  font-size: 1.5em;
  font-weight: 600;
  font-variant: small-caps;
  text-align: center;
  margin: 1em auto; }
  h1#vision {
    color: #7e48af; }
  h1#mission {
    color: #6d834f; }

/* ------------------------------------------------------------
CONTAINERS
-------------------------------------------------------------*/
div.two-columns {
  display: flex;
  flex-direction: column; }

div.container {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

div.first {
  background-color: #e2d5ee; }

/* ------------------------------------------------------------
TESTIMONIALS
-------------------------------------------------------------*/
blockquote.testimonial {
  position: relative;
  border: none;
  padding: 1em;
  text-align: center; }
  blockquote.testimonial:before, blockquote.testimonial:after {
    color: #7e48af;
    font-size: 4em;
    position: absolute; }
  blockquote.testimonial:before {
    content: "\201C";
    top: -.3em;
    left: -.2em; }
  blockquote.testimonial:after {
    content: "\201D";
    right: 0;
    bottom: -.4em; }
  blockquote.testimonial span.cite {
    color: #6d834f;
    font-weight: 800; }

/* ------------------------------------------------------------
MEDIA QUERY FOR LARGE SCREENS > 550px
-------------------------------------------------------------*/
@media screen and (min-width: 550px) {
  body {
    max-width: 75%;
    margin-top: 2em; }

  header {
    text-align: left; }

  a#logo {
    max-width: 100%;
    text-align: left;
    float: left;
    margin-bottom: 1em;
    background-color: white; }
    a#logo img#logo {
      max-width: 200px; }

  nav ul {
    display: flex;
    justify-content: space-around; }
    nav ul li {
      display: flex;
      align-content: center;
      border-right: 2px solid white;
      border-bottom: none; }
      nav ul li:last-child {
        border-right: none; }
  nav a {
    box-shadow: 0px 0px 0px; }
  nav a,
  nav a:hover,
  nav a:focus {
    align-self: stretch;
    display: flex; }
    nav a span,
    nav a:hover span,
    nav a:focus span {
      width: 100%;
      align-self: center; }

  /* ends nav element */
  div#myCarousel {
    height: 400px;
    overflow: hidden;
    border-bottom: 20px solid #87a263; }
    div#myCarousel img {
      min-width: 100%;
      min-height: 400px; } }
/* Ends large media query */
/* ------------------------------------------------------------
MEDIA QUERY FOR LARGER SCREENS > 1000px
-------------------------------------------------------------*/
@media screen and (min-width: 1000px) {
  /* ------------------------------------------------------------
  CONTAINERS
  -------------------------------------------------------------*/
  div.two-columns {
    flex-direction: row; }

  img.hr-small-disappears {
    display: none; }

  img.hr-long {
    display: block;
    width: 60%; }

  img.hr {
    padding-top: 1em; } }
/* Ends media query for larger screens */

/*# sourceMappingURL=style.css.map */
