<section class="content locations">
  <h1 id="locations">Locations</h1>

  <div class="row">
    <div class="col-sm-6">
      <a href="https://www.google.com/maps/place/7750+Montpelier+Rd,+Laurel,+MD+20723/@39.1658584,-76.8870253,17z/data=!4m2!3m1!1s0x89b7de9a0f8e3bc7:0x7a48026dfadda0e5" target="_blank">
        <span><i class="fa fa-building-o"></i></span>
        <span class="address">7750 Montpelier Road, Laurel, MD 20723</span>
      </a>
    </div>
    <div class="col-sm-6">
      <a href="https://goo.gl/maps/qmJAUumkrG12" target="_blank">
        <span><i class="fa fa-building-o"></i></span>
        <span class="address">6935 Laurel Ave #203, Takoma Park, MD 20912</span>
      </a>
    </div>
  </div>


  <!-- <div class="map">
    <span class="map-button" data-ng-click="showMap = !showMap" data-ng-show="!showMap">Show Map</span>
  </div>
  <div class="map">
    <span class="map-button" data-ng-click="showMap = !showMap" data-ng-show="showMap">Hide Map</span>
  </div> -->

  <!-- Google Maps Embed -->
  <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24746.809600533048!2d-76.89475008241308!3d39.166736017237135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7de9a0f8e3bc7%3A0x7a48026dfadda0e5!2s7750+Montpelier+Rd%2C+Laurel%2C+MD+20723!5e0!3m2!1sen!2sus!4v1454386040061" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</section>
