@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,300);

body, header, footer, section, div, span, nav, ul, ol, div, li, a, img, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
}

/* ------------------------------------------------------------
MAIN STYLES
-------------------------------------------------------------*/
$mainFontFamily: "Source Sans Pro", sans-serif;
$sageColor: #B8C8A3;
$lavenderColor: #C9B1DF;
$navBGcolor: darken($sageColor, 20%);

@mixin testBorder($color) {
  // border: 2px solid $color;
}

html {
  font-size: 18px;
  background-color: lighten($sageColor, 10%);
  background-image: url("../images/sageBG.jpg");
  background-size: cover;
  background-attachment: fixed;
}

body {
  font: {family: $mainFontFamily;
        size: 100%;
        weight: 300;
      }
  max-width: 100%;
  margin: 0 auto;
  letter-spacing: .1em;
  // @include testBorder(blue);
}

header {
  border-top: 1em solid lighten($navBGcolor, 5%);
}

div.container-fluid {
  padding: 0;
}

a.logo {
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
  display: block;
  @include testBorder(purple);
  img#logo {
    width: 400px;
    @include testBorder(green);
  }
}

div#quote {
  margin: 0 auto;
  padding: 0 1em;
  text-align: center;
  font: {
    style: italic;
    size: .8em;
  }
  color: darken($sageColor, 30%);
  // border: 1px solid blue;
}

div#myCarousel {
  min-width: 320px;
  height: 300px;
  overflow: hidden;
  opacity: 0.9;
  border-bottom: 1em solid $navBGcolor;
  &:hover {
    opacity: 1;
  }
  img {
    min-width: 100%;
    min-height: 300px;
  }
}


/* ------------------------------------------------------------
NAVIGATION
-------------------------------------------------------------*/
$navFontColor: #FFF;
$hoverLinkColor: gray;

@mixin navBorder($color) {
  border-bottom: 1px solid $color;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

nav, nav ul, nav li {
  width: 100%;
}

nav {
  clear: both;
  ul {
    font-size: 1.5em;
    text-align: center;
    margin: .5em auto 0em;
    @include testBorder(red);
  }
  li {
    height: 40px;
    list-style-type: none;
    background-color: $navBGcolor;
    @include testBorder(orange);
    display: block;
    @include navBorder(darken($navBGcolor, 5%));
    box-shadow: inset 0px 3px 5px lighten($navBGcolor, 10%);
    text-shadow: 0px 2px 5px darken($navBGcolor, 40%);
    display: block;
    font-variant: small-caps;
    &:hover {
      background-color: lighten($navBGcolor, 5%);
      box-shadow: inset 0px 5px 10px lighten($navBGcolor, 20%);
      text-shadow: 0px 3px 2px darken($navBGcolor, 80%);
      font-weight: bolder;
    }
    &:active {
      background-color: darken($navBGcolor, 5%);
      border-top: 1px solid darken($navBGcolor, 20%);
      box-shadow: inset 0px 2px 10px darken($navBGcolor, 50%);
      text-shadow: 0px 2px 5px darken($navBGcolor, 40%);
    }
  }
  a,
  a:hover,
  a:active,
  a:visited,
  a:focus {
    width: 100%;
    color: white;
    display: block;
    @include testBorder(blue);
  }
  @include testBorder(gray);
}

/* ------------------------------------------------------------
IMAGES
-------------------------------------------------------------*/
img {
  &#logo {
  max-width: 75%;
  @include testBorder(purple);
  }
  &.hr {
    padding-top: 2em;
    padding-bottom: 1em;
    margin: 0 auto;
    display: block;
  }
  &.hr-small-disappears {
    padding: 0 2em;
    max-width: 90%;
    margin: 0 auto;
  }
  &.hr-long {
    margin: 0 auto;
    display: none;
  }
  &.section-image {
    box-shadow: 3px 2px 10px gray;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
    opacity: .9;
    &:hover {
      opacity: 1;
    }
  }
}

/* ------------------------------------------------------------
SECTIONS
-------------------------------------------------------------*/
section.content {
  // border-bottom: 5px solid blue;
  padding: 0 2em 1em;
  width: 100%;
  // @include testBorder(blue);
}

section.vision, section.mission {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
}

section.vision {
  float: left;
}


section.mission {
  float: right;
}

section.vision:hover,
section.mission:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

section.vision:hover {
  background-color: lighten($lavenderColor, 10%);
  color: darken($lavenderColor, 50%);
}

section.mission:hover {
  background-color: lighten($sageColor, 10%);
  color: darken($sageColor, 50%);
}

section.contact {
  // border: 1px solid red;
  width: 100%;
  margin: 0 auto;
  div.row {
    text-align: center;
    border: none;
    width: 100%;
    margin: 0 auto;
    div.col-sm-3 {
      margin-bottom: 1em;
    }
  }
  span {
    display:block;
    i.fa {
      border-radius: 100%;
      padding: .32em;
      background-color: darken($lavenderColor, 5%);
      width: 1.6em;
      height: 1.6em;
      text-align: center;
      vertical-align: middle;
      font-size: 2em;
      color: white;
      opacity: .8;
      &:hover {
        opacity: 1;
      }
    }
  }

  div.map {
    margin: 1em auto;
    text-align: center;
    .map-button {
      cursor: pointer;
      color: darken($sageColor, 30%);
      font-weight: 400;
    }
    .map-button:hover {
      font-weight: 700;
      color: darken($lavenderColor, 30%);
    }
  }


}

/* ------------------------------------------------------------
HEADINGS
-------------------------------------------------------------*/
@mixin heading() {
  font: {
    size: 2em;
    weight: 600;
    variant: small-caps;
  }
  text-align: center;
  margin: .5em auto;
}

h1 {
  @include heading();
  &#vision, &#testimonials, &#chinese {
    color: darken($lavenderColor, 30%);
  }
  &#mission, &#contact, &#acupuncture, &#khanh {
    color: darken($sageColor, 30%);
  }
}


/* ------------------------------------------------------------
CONTAINERS
-------------------------------------------------------------*/

div.two-columns {
  margin: 0 auto;
  display: block;
  text-align: center;
}

div.container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* ------------------------------------------------------------
TESTIMONIALS
-------------------------------------------------------------*/
blockquote.testimonial {
  color: gray;
  position: relative;
  border: none;
  padding: 1em;
  text-align: center;
  font-style: italic;
  font-size: 1em;
  &:before, &:after {
    color: darken($lavenderColor, 30%);
    font-size: 4em;
    position: absolute;
  }
  &:before {
    content: "\201C";
    top: -.3em;
    left: -.2em;
  }
  &:after {
    content: "\201D";
    right: .2em;
    bottom: -.4em;
  }
  span.cite {
    color: darken($sageColor, 30%);
    font-weight: 600;
  }
  &:hover {
    color: black;
  }
}



/* ------------------------------------------------------------
FOOTER
-------------------------------------------------------------*/
footer {
  color: white;
  font-size: .8em;
  width: 100%;
  padding: .5em;
  background-color: lighten($navBGcolor, 5%);
  text-shadow: 0px 2px 5px darken($navBGcolor, 40%);
  margin-top: 3em;
  clear: both;
}

/* ------------------------------------------------------------
MEDIA QUERY FOR MEDIUM SCREENS > 550px
-------------------------------------------------------------*/

@media screen and (min-width: 550px) {

  body {
    max-width: 75%;
    min-width: 300px;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  nav ul {
    clear: both;
  }

  header {
    text-align: left;
  }

  a.logo {
    max-width: 100%;
    text-align: left;
    float: left;
    // margin-bottom: 1em;
    background-color: lighten($sageColor, 70%);
    img#logo {
      max-width: 200px;
      @include testBorder(green);
    }
    @include testBorder(purple);
  }

  div#quote {
    line-height: 1.8em;
    text-align: right;
  }

  div#myCarousel {
    height: 400px;
    img {
      min-width: 100%;
      min-height: 400px;
    }
  }

} /* Ends medium media query */

/* ------------------------------------------------------------
MEDIA QUERY FOR LARGE SCREENS > 768px
-------------------------------------------------------------*/

@media screen and (min-width: 768px) {

  div#quote {
    line-height: 2.6em;
  }

  blockquote.testimonial {
    border: none;
    padding: 1em;
    text-align: center;
    font-style: italic;
    opacity: .8;
    &:before {
      content: "";
    }
    &:after {
      content: "";
    }
  }

}


/* ------------------------------------------------------------
MEDIA QUERY FOR LARGER SCREENS > 1000px
-------------------------------------------------------------*/

@media screen and (min-width: 1000px) {

  nav {
    ul {
    display: table;
    font-size: 1.5em;
    clear: both;
      li {
        vertical-align: middle;
        display: table-cell;
        width: 25%;
        border-right: 2px solid white;
        border-bottom: none;
        &:last-child {
          border-right: none;
        }
      }
    }
    a {
      box-shadow: 0px 0px 0px;
    }
  } /* ends nav element */

  div#quote {
    line-height: 4em;
  }

  section.vision, section.mission {
    width: 50%;
  }

  img.hr-small-disappears {
    display: none;
  }

  img.hr-long {
    display: block;
    width: 60%;
  }

  img.hr {
    padding-top: 1em;
  }

  section.contact div.row {
    text-align: center;
    border: none;
      span {
        i.fa {
          font-size: 3em;
          padding: .3em;
        }
      }
    }

} /* Ends media query for larger screens */

/* ------------------------------------------------------------
MEDIA QUERY FOR LARGEST SCREENS > 1600px
-------------------------------------------------------------*/
@media screen and (min-width: 1600px) {

  body {
    font-size: 200%;
    max-width: 2000px;
  }

  a.logo img#logo {
    max-width: 500px;
  }

  div#myCarousel {
    height: 800px;
    overflow: hidden;
    img {
      max-width: 100%;
      min-height: 800px;
    }
  }

} // ends largest screens media query


/* ------------------------------------------------------------
ACUPUNCTURE PAGE - REGULAR STYLING
-------------------------------------------------------------*/

ul#acupuncture li,
div.section-image,
div.section-p {
  text-align: center;
}

div.section-image {
  width: 100%;
  display: block;
  float: left;
  margin: 0 auto;
}

div.section-p {
  margin: 1em auto;
  display: block;
  ul {
    list-style-type: none;
    li:hover {
      font-weight: 400;
    }
  }
}

/* ---------------------------------------
ACUPUNCTURE FOR LARGER SCREENS > 800px
----------------------------------------*/
@media screen and (min-width: 800px) {

  div.section-image {
    margin: 1em;
    width: 20%;
    min-width: 300px;
    &.acupuncture-image {
      margin-bottom: 0;
    }
  }

  div.section-p.first {
    text-align: right;
  }

}

/* ------------------------------------------------------------
CHINESE HERBAL MEDICINE > 800px
-------------------------------------------------------------*/
@media screen and (min-width: 800px) {

  div.chinese {
    float: right;
    margin: 4em auto;
  }

}

/* ------------------------------------------------------------
BIO - REGULAR STYLING
-------------------------------------------------------------*/
img.section-image.khanh {
  opacity: .9;
  width: 50%;
  margin: 1em;
  &:hover {
    opacity: 1;
  }
}

h2 {
  text-align: center;
  margin: 0 auto;
  font-size: 1.3em;
  font-weight: 400;
  color: darken($sageColor, 40%);
}

/* ------------------------------------------------------------
BIO > 800px
-------------------------------------------------------------*/

@media screen and (min-width: 800px) {

  img.section-image.khanh {
    width: 100%;
  }

}
